.input {
    border: 1px solid darkcyan;
}
.show{
    /*opacity: 1;*/
    /*transition: all 1s ease-in;*/
    animation:show-item 2s ease-in forwards;/**forwards 保留动画最后一帧的效果*/
}
.hide{
    animation: hide-item 2s ease-in forwards;/**forwards 保留动画最后一帧的效果*/
 
}

@keyframes hide-item {
    0%{
        opacity: 1;
        color: red;
    }
    50%{
        opacity: 0.5;
        color: greenyellow;
    }
    100%{
        opacity: 0;
        color: blue;
    }

}
@keyframes show-item {
    0%{
        opacity: 0;
        color: red;
    }
    50%{
        opacity: 0.5;
        color: greenyellow;
    }
    100%{
        opacity: 1;
        color: blue;
    }

}


/**/

/* .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .fade-exit {
    opacity: 1;
  } */
  /* .my-node-exit-active {
    opacity: 0;
    transition: opacity: 200ms;
  } */

    .fade-enter,.fade-appear{ opacity: 0;}
    .fade-enter-active,.fade-appear-active{opacity: 1;
    transition: opacity 1s ease-in;}
    .fade-enter-done{ opacity: 1;}
    .fade-exit{ opacity: 1;}
    .fade-exit-active{ opacity: 0;transition: opacity 1s ease-in;}
    .fade-exit-done{opacity: 0;}


    /*
         <CSSTransition
                 in={this.state.show}
                 timeout={1000}
                 classNames='fade'
                 unmountOnExit
                 onEntered={(el) => {el.style.color='blue'}}//钩子函数 在某个时刻自动执行的函数 比如onEntered是当入场动画执行后
                 appear={true}//第一次加载时候 也要有动画
                >
                  </CSSTransition>
    
    */