.input {
    border: 1px solid darkcyan;
}
.show{
    /*opacity: 1;*/
    /*transition: all 1s ease-in;*/
    animation:show-item 2s ease-in forwards;/**forwards 保留动画最后一帧的效果*/
}
.hide{
    animation: hide-item 2s ease-in forwards;/**forwards 保留动画最后一帧的效果*/
 
}

@keyframes hide-item {
    0%{
        opacity: 1;
        color: red;
    }
    50%{
        opacity: 0.5;
        color: greenyellow;
    }
    100%{
        opacity: 0;
        color: blue;
    }

}
@keyframes show-item {
    0%{
        opacity: 0;
        color: red;
    }
    50%{
        opacity: 0.5;
        color: greenyellow;
    }
    100%{
        opacity: 1;
        color: blue;
    }

}